.link {
    color: black;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.white {
    color: aliceblue;
}

.gray {
    color: rgb(71, 71, 71);
}

.negmargin {
    margin-top: -15px;
}

.footer {
    height: 300px;
    width: 100%;
    background-color: rgb(0, 0, 28);
}